.header__logo {
  min-width: 104px;
  max-width: 142px;
  width: calc(104px + ((142 - 104) * ((100% - 320px) / (880 - 320))));
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 910px) {
  .header__logo {
    margin-left: 27px;
  }
}