.profile__addButton {
  background: url(../../../imgs/AddButtonDesctop.png) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-left: auto;
  transition: all 0.3s ease;
}

.profile__addButton:hover {
  opacity: 0.6;
}

@media screen and (max-width: 940px) {
  .profile__addButton {
    margin: 35px 0 0;
    width: 282px;
    background: url(../../../imgs/AddButtonMobile.png) center no-repeat;
  }
}