.profile__editButton {
  background: url(../../../imgs/EditButtonDesctop.png) center no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  position: absolute;
  right: -49px;
  bottom: 44px;
  transition: all 0.3s ease;
}

.profile__editButton:hover {
  opacity: 0.6;
}

@media screen and (max-width: 940px) {
  .profile__editButton {
    margin-left: 3px;
    width: 18px;
    height: 18px;
    right: -30px;
    bottom: 30px;
    background: url(../../../imgs/EditButtonMobile.png) center no-repeat;
  }
}